.overview-container {
    width: 95%;
    border: 1px solid rgba(166, 166, 166, 0.45);
    border-radius: 10px;
    border-radius: 6px;
    margin: 3px auto;
    text-align: left;
}

.overview-heading {
    font-weight: 700;
    font-size: 28px;
    line-height: 38px;
    padding: 45px;
    padding-top: 0;
}

.overview-card-section {
    display: flex;
    padding: 45px;
    justify-content: space-around;
    flex-wrap: wrap;
}


/* Styles for over card */

.card-container {
    height: 16em;
    width: 17em;
    background: rgba(143, 183, 225, 0.5);
    border-radius: 10px;
    padding: 50px 10px;
    margin-bottom: 10px;
}

.card-count {
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;
    margin-top: 15px;
}

.card-title {
    font-weight: 700;
    font-size: 26px;
    line-height: 38px;
    color: #FFFFFF;
    margin-top: 12px;

}

.card-subText {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #072F57;
    margin-top: 12px;

}
@media only screen and (max-width:768px) {
    .card-container {
        height: 10em;
        width: 11em;
        border-radius: 10px;
        padding: 1em 1em;
        margin-bottom: 1em;
    }
    .card-count {
        font-weight: 700;
        margin-top: .5em;
        font-size: 18px;
line-height: 22px;
    }
    
    .card-title {
        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
        color: #FFFFFF;
        
    
    }
    
    .card-subText {
       
        font-size: 8px;
line-height: 10px;
        color: #072F57;
       
    
    }
}