.container {
    /* border :1px solid; */
}

.proposal-container {

    height: 100vh;
    /* border:1px solid; */
    text-align: left;
    margin-top: 5%;
}

.proposal-page-heading {
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;
    border-bottom: 1px solid #D4D2D0;
    padding-bottom: 2%;
}

.proposal-job-name {
    margin-top: 1.5%;
    border-bottom: 1px solid #D4D2D0;
    padding-bottom: 1.5%;
    font-weight: 700;
    font-size: 28px;
    line-height: 38px;
}


.proposal-form-container {
    margin-top: 2%;
}

/* CSS for proposal form */

.proposal-form {
    padding: 2% 2%;
    /* border: 1px solid; */
}

.proposal-label {
    font-weight: 700;
    font-size: 22px;
    line-height: 29px;
    letter-spacing: 0.0025em;
    margin-bottom: 10px;
}
.hori-line {
    border-bottom: 1px solid #A6A6A6;
    width: 100%;
    margin-top: 5%;
}

.proposal-subject input {
    background: #FAFAFA;
    border: 1px solid rgba(0, 0, 0, 0.07);
    border-radius: 8px;
    width: 32em;
    height: 4.4em;
    margin-bottom: 8.3%;
    max-width: 100%;
}

.proposal-content textarea {
    width: 32em;
    height: 29em;
    background: #FAFAFA;
    border: 1px solid rgba(0, 0, 0, 0.07);
    border-radius: 8px;
    margin-bottom: 8.3%;
}

.proposal-doc {
    font-weight: 700;
    font-size: 22px;
    line-height: 84.3%;
    letter-spacing: 0.0025em;
    margin-bottom: 10px;
}



/* CSS for right tab ---> job descreption */

.job-description {
    border-left: 1px solid #D4D2D0;
    padding-left: 2%;

}

.desc-container {
    margin-top: 25px;
    border: 1px solid #D4D2D0;
    border-radius: 10px;
}

.job-dec-header {
    padding: 24px;
    border-bottom: 1px solid #D4D2D0;
}

.job-desc-name {
    font-size: 18px;
    line-height: 20px;
    padding-bottom: 7px;
}

.job-desc-company {
    font-weight: 400;
    font-size: 14.6667px;
    line-height: 20px;
    color: #085FF7;
}

.job-desc-location {
    font-weight: 400;
    font-size: 14.6667px;
    line-height: 20px;
}

.job-desc-details {
    padding: 30px 20px 50px 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 13.3333px;
    line-height: 19px;
}

.document-btn {
    background: #FAFAFA;
    border: 1px solid rgba(0, 0, 0, 0.07);
    border-radius: 8px;
    width: 32em;
    padding: 25px;
    max-width: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #77767C;
}

.document-btn i {
    color: #8FB7E1;
    margin-right: 10px;
}

.proposal-submit-btn {
    display: flex;
    align-items: center;
    margin: 7% auto 0 auto;
}

.proposal-submit-btn button {
    background: #072F57;
    border-radius: 4px;
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    padding: 25px;
    margin: 0 auto;
}


.todo-heading {
font-weight: 700;
font-size: 28px;
line-height: 38px;
margin: 5% 0;
}


@media only screen and (max-width:768px) {

    .proposal-container {
        padding: 0 1em 0 1em;
    }

    .proposal-page-heading {
        font-size: 14px;
        line-height: 19px;
        padding-bottom: 0;
    }

    .proposal-job-name {

        padding-bottom: 0;
        font-weight: 700;
        font-size: 12px;
        line-height: 16px;

    }

    .proposal-form {
        width: 100%;
    }

    .hide-mobile {
        display: none;
    }

    .proposal-subject input {
        width: 100%;
    }

    .proposal-content textarea {
        width: 100%;
    }
    .proposal-doc {
        width: 100%;
    }
}