.otp-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.otp-container input{
    width: 50px;
    height: 50px;
    margin: 5px;
    border: none;
    background-color: rgba(204, 235, 239, 0.521);
    border-radius: 5px;
    font-size: 30px;
    outline: none;
    padding-left: 15px;
    font-weight: 600;
}
.submitbtn{
    border: none;
    background-color:rgba(7, 47, 87, 1); ;
    color: #ffff;
    border-radius: 5px;
    width: 150px;
    padding: 10px;
    margin: 20px 0;
}