.card-container {
    width: 100%;
    height: 30%;
    background: #FFF;
    border-radius: 6px;
    overflow: hidden;
    display: inline-block;
    border-right: 1px solid #E9E9E9;
}

.upper-container {
    height: 150px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #072F57;
}

.image-container {
    background: white;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    transform: translate(90px, 100px);
}

.image-container img {
    width: 120px;
    height: 120px;
    border: 5px solid #fff;
    border-radius: 50%;

}

.icon-container {
    background: #8FB7E1;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transform: translate(165px, 56px);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid;
}

@media only screen and (max-width:768px) {

    .card-container {
        width: auto;
        height: auto;

    }

    .upper-container {
        background: none;
        height: auto;
    }

    .image-container {
        transform: none;
    }
    .image-container img {
        width: 70px;
        height: 70px;
        border: 5px solid #fff;
        border-radius: 50%;
    
    }
    .icon-container {
        transform: translate(165px, 56px);  
    }
}