.notifications-container {
    height: 100vh;
    margin-top: 5em;
}

.filter-icon {
    height: 100px;
    width: 100px;
}

.filter-col {
    display: flex;
    padding: 0;
    align-items: baseline;
    justify-content: flex-end;
}

.page-heading {
    display: flex;
    align-items: center;
    text-align: left;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;

}

.notification-list {
    background: #FFFFFF;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.notify-list-item {
    display: flex;
    padding: 1.5em 0 1.5em 0;
    border-bottom: 1px solid #D4D2D0;
}

.bell-icon {
    flex: .2;
}

.icon img {
    height: 2em;
    width: 2em;
    ;
}

.notification-description {
    flex: .6;
    text-align: left;
}

.notification-description span {
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 38px;
}

.notification-description .time {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;

}

.notification-read {
    flex: .2;
    justify-content: flex-end;


}

@media only screen and (max-width:768px) {
    .page-heading {
        font-weight: 700;
        font-size: 14px;
        line-height: 19px;
        margin-left: 1em;
    }
    .filter-col {
        margin-right: 2em;
    }
    .filter-col img {
        height: 2em;
        width: 2em;
        ;
    }

    .notification-description span {
        font-size: 14px;
        line-height: 108.2%;
    }
    .notification-description .time {
        font-size: 14px;
        line-height: 19px;
    }

    .icon img {
        height: 40px;
        width: 40px;
    }
    .notification-list  {
        margin:auto 2em;
    }
}