.tablerounededCorner {

    border: 1px solid rgba(166, 166, 166, 0.45);
    box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
}

.roundedTable {
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
    margin: 0;
}

.roundedTable th {
    padding: 20px;
    background: #072F57;
    border: 1px solid #072F57;
    color: white;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 38px;
    text-align: center;
}

.roundedTable td {
    padding: .6em;
    border-bottom: 0.5px solid rgba(38, 50, 56, 0.38);
    height: 120px;
}

.roundedTable th {
    text-align: center;
    vertical-align: middle;
}

.roundedTable tr {
    background-color: none !important;
    vertical-align: middle;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 38px;
}

.roundedTable tr:last-child td {
    border-bottom: none;
}

@media only screen and (max-width:768px) {

    .roundedTable td {  
        padding: 0;  
        height: 47px;
    }
    .roundedTable th {
        padding: 10px;
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;
    }

    .roundedTable tr {
        font-size: 12px;
        line-height: 16px;

    }
}
