.secondPostTabOne{
    height: 69px;
    width: 32%;
    position: relative;
    overflow: hidden;
    background-color:#fff;
}
.secondPostTabTwo{
    height: 69px;
    width: 36%;
    position: relative;
    overflow: hidden;
    background-color:rgba(7, 47, 87, 1)  ;
}

.backShaptop{
    position: absolute;
    background-color:rgba(7, 47, 87, 1);
    width: 80px;
    height: 80px;
    top: -40px;
    right: -61px;
    transform: rotate(45deg);
}
.backShapbottom{    
    position: absolute;
    background-color: rgba(7, 47, 87, 1);
    width: 80px;
    height: 80px;
    right: -61px;
    bottom: -40px;
    transform: rotate(-45deg);
}
.secondShaptop{
    position: absolute;
    background-color: #ffffff;
    width: 80px;
    height: 80px;
    top: -40px;
    right: -61px;
    transform: rotate(45deg);
    border-bottom: 1px solid #ccc;
}
.secondShapbottom{  
    position: absolute;
    background-color: #fff;
    width: 80px;
    height: 80px;
    right: -61px;
    bottom: -40px;
    transform: rotate(-45deg);
    border-top: 1px solid #ccc;
}


/* proposal part// */
.postOwner-sec{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.owner-role-sec{
    display: flex;
    justify-content: center;
    align-items: center;
}
.owner-role-sec img{
    width: 60px;
    height: 60px;
}
.hire-btn{
    border: none;
    background-color: rgba(7, 47, 87, 1);
    color: #fff;
    padding: 8px 8px;
    border-radius: 5px;
    margin-right: 10px;
}
.chat-btn{
    border: none;
    padding: 7px 7px;
    border-radius: 5px;
    margin-right: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
}
.seaarch-proposal{
    position: relative;
    text-align: left;
}
.seaarch-proposal input{
    width: 60%;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    padding-left: 100px;
    outline: none;

}
.proposal-search-ico{
    position: absolute;
    left: 20px;
    top: 15px;
    color: #999;
}

@media only screen and (max-width:768px){
    .progressLineTab{
        margin-top: 80px;
        height: 50px;
        width: 100%;
        border: 1px solid #ccc;
        display: flex;
        align-items: center;
    }
    .secondPostTabOne{
        height: 49px;
        width: 32%;
        position: relative;
        overflow: hidden;
        background-color:#fff ;
    }
    .secondPostTabTwo{
        height: 49px;
        width: 36%;
        position: relative;
        overflow: hidden;
        background-color:rgba(7, 47, 87, 1);
    }
    /* ================shape// */
    .secondShaptop{
        position: absolute;
        background-color:rgba(7, 47, 87, 1);
        width: 60px;
        height: 60px;
        top: -46px;
        right: -31px;
        transform: rotate(45deg);
    }
    .secondShapbottom{
        position: absolute;
        background-color: rgba(7, 47, 87, 1);
        width: 60px;
        height: 60px;
        right: -31px;
        bottom: -46px;
        transform: rotate(-45deg);
    }
    .seaarch-proposal input{
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 8px;
        padding: 10px;
        padding-left: 100px;
        outline: none;
    
    }
}