.has-search .form-control {
    padding-left: 2.375rem;
    border: 1px solid #E1E7EB;
    border-radius: 8px;
    width: 40vw;
    height: 60px;
    font-weight: 500;
font-size: 20px;
line-height: 24px;
color: #9B9B9B;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    margin-top: .7rem;
    height: 3.8rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #9B9B9B;
}