.reset-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.rest-password-box{
    width: 320px;
}
.hide-btn-reset{
    position: absolute;
    right: 20px;
    background-color: transparent;
    border: none;
    color: #888;
}
.reset-done{
    position: relative;
    top: 10px;
    background-color:rgba(7, 47, 87, 1);
    color: #fff;
    width: 150px;
    padding: 7px 5px;
    border: none;
    border-radius: 5px;
    font-weight: 600;
}
/*=========================== tool tip// */
.tooltips{
   position: relative;
}

.tooltips .top {
    min-width:300px;
    top:-10px;
    left:50%;
    transform:translate(-20%, -100%);
    padding:10px 20px;
    color:#FFFFFF;
    background-color:#777777;
    font-weight:normal;
    font-size:13px;
    border-radius:8px;
    position:absolute;
    z-index:99999999;
    box-sizing:border-box;
    display:none;
}

.tooltips:hover .top {
    display:block;
}

.tooltips .top i {
    position:absolute;
    top:100%;
    left:20%;
    margin-left:-15px;
    width:30px;
    height:15px;
    overflow:hidden;
}

.tooltips .top i::after {
    content:'';
    position:absolute;
    width:15px;
    height:15px;
    left:50%;
    transform:translate(-50%,-50%) rotate(45deg);
    background-color:#777777;
}
@media only screen and (max-width:768px){
    .tooltips .top {
       
        transform:translate(-50%, -100%);
       
    }
    .tooltips .top i {   
        left:50%;
    }
}